div.defi_footer
	.defi-footer-left
		div.defi_footer-left_top Plan du site
		.defi_footer-lef_bottom
			table(style='width:100%;margin-top:-22px;')
				tr
					td
						ul(style='margin-top:-2px;')
							li 
								a(href) Accueil
							li 
								a(href) Tous les sejours
							li 
								a(href) Les coups de coeur
							li 
								a(href) Nouveautes
						

					td
						ul(style='margin-top:-2px;')
							li 
								a(href) Espace adherent
							li 
								a(href) Espace Pro
							li 
								a(href) Espace distributeur
							li 
								a(href) Hoteliers
					
					td
						ul
							li 
								a(href) Qui sommes-nous?
							li 
								a(href) FAQ
							li 
								a(href) Contact
							li 
								a(href) Mentions legales
							li 
								a(href) Conditions Generales

	.defi_footer-right
		div.defi_footer-right-top Acces directs aux sejours
		.defi_footer-right-bottom
			table(style='width:100%;')
				tr
					td
						ul(style='margin-top:-2px;')
							li 
								a(href) Voyange-CIRCUIT AU VIETNAM
							li 
								a(href) Decouvertes dans le Poitou
							li 
								a(href) Goutez les embruns de l'Ocean
							li 
								a(href) Sejour Nature en Normandie
							li   
								a(href) Voyage-Circuite Decouverte en Thailande
						

					td
						ul(style='margin-top:-2px;')
							li 
								a(href) Voyage-Circuite Istanbul-l'Anatolie
							li 
								a(href) Tout le Charme de La vendee
							li 
								a(href) Sejour en Costa Brava Sud
							li 
								a(href) Voyage-Circuit Cap sur le Rajastan
							li 
								a(href) Bienvenue en Ariege
					
					
span(style='margin-left: 42px;color:gray;') Copyright Arcanclane 2011 &copy; Tous droits reserves-Reproduction meme partielle interdite-Conception Realisation Untitead