div.main_footer
    table(style="width:100%; color:white;")
        tr
            td 
                p blablablablablablablabla 
            td 
                p blablablablablablablabla
            td 
                p blablablablablablablabla
            td 
                p blablablablablablablabla