
form(name='frmlogin', method='post', action='/login')
    input(type="text", name='txtusername' placeholder="E-mail" class='login_name' required)
    br
    input(type="password", name='txtpwd' placeholder="Mod de passe" class='login_pwd' required)
    br
    a(href="prochaindefiHome")="Mod de passe oublié"
    br
    input(type="submit" value="" name="commit" id="message_submit" class="registerbtn")
    a(href='register' class='register')="S'enregistrer"

   