form(method='post', name='frmlogin' class='frmlogin')
  table(style='height:120px;border:0px solid black;border-radius:10px;margin-left: 100px;').menu_right
    tbody
      tr
        td
          table
            tbody
              tr
                td
              tr
                td(style='color:white;') Email
                td(style='color:white;') :
                td
                  input(type='email', name='txtemail')
              tr
                td(style='color:white;') Mot de passe
                td(style='color:white;') :
                td
                  input(type='password', name='txtpwd')
        td
          input(type="submit" value="" name="commit" id="message_submit" class="registerbtn")

        