extends layout
block content
  span(style='display:none;')#countnum=countnum
  script.
      $(function() {
        var getnum =  document.getElementById('countnum').innerHTML;
        console.log(getnum);
        var d = new Date();
        var h =d.getHours();
        var n = d.getMinutes();
        var s =d.getSeconds();
        var totalminutes;
        var totalseconds;
        var myhour;
        var divsec;
        myhour=getnum/60;

        console.log('Minute Total:'+myhour);
        totalseconds=getnum%60+s;
        totalminutes = n+myhour;

        if(totalseconds>60)
        {
          totalseconds=60;
        }
        d.setHours(h,totalminutes,totalseconds);


           //var endDate = "Fri May 09, 2014 09:30:25";
         var endDate = d.toString();
        $('.countdown.simple').countdown({ date: endDate });
        $('.countdown.styled').countdown({
          date: endDate,
          render: function(data) {
            $(this.el).html("<div>" + this.leadingZeros(data.hours, 2) + " <span>hrs</span></div><div>" + this.leadingZeros(data.min, 2) + " <span>min</span></div><div>" + this.leadingZeros(data.sec, 2) + " <span>sec</span></div>");
          }
        });

        $('.countdown.callback').countdown({
          date: +(new Date) + 10000,
          render: function(data) {
            $(this.el).text(this.leadingZeros(data.sec, 2) + " sec");
          },
          onEnd: function() {
            $(this.el).addClass('ended');
          }
        }).on("click", function() {
          $(this).removeClass('ended').data('countdown').update(+(new Date) + 10000).start();
        });

      });

    div.menu
        ul
          li
              a(href="/home") 
                  img(src="http://localhost:8080/images/HomePage/home_0042_accueil.png")
          li
              a(href="#")
                  img(src="http://localhost:8080/images/HomePage/home_0039_presentation.png")
          li
              a(href="#")
                  img(src="http://localhost:8080/images/HomePage/home_0029_utilisateur.png")
          li
              a(href="#")
                  img(src="http://localhost:8080/images/HomePage/home_0026_Pro.png")

    div.titlehomepage_part1
        div.giftpic
            img(src="http://localhost:8080/images/HomePage/home_0034_cadeau.png")
        div.chellengizpic
            img(src="http://localhost:8080/images/HomePage/home_0033_challengiz.png")
        div.encourpic
            img(src="http://localhost:8080/images/HomePage/home_0032_en-cours.png")
    

       
    div.prochaindefi_index_home
        .prochaindefi-left_index
              div(style='position:relative; display:inline;min-height:120px;height:auto;')   
                p(style="font-weight:bold;font-size:15px;margin-left:10px;") La question

              div(style='position:relative;margin-top:50px;float:right;margin-right:10px;')
                form(name='files', method='POST', enctype='multipart/form-data',action='/myUpload')
                  input(type='file', name='file',style='font-weight:bold;color:red;')
                  input(type='submit', name='btsubmit', value='Envoy‘e', style='font-weight:bold;color:red;')
     

    div(style="text-align:center;").prochaindefi-right_index 
      img(src="http://localhost:8080/images/HomePage/home_0053_PUB.png" style="margin-top:100px;")
        
    div.ganger_index    
      div(style='position:absolute;margin-top:-20px;width:100%;height:94px;background-image:url("http://localhost:8080/images/HomePage/index_def.png");background-repeat: no-repeat;background-position:center;background-size:100%;')

      div(style='position:relative;border:0px solid black;width:100%;min-height:175px;height:auto;margin-top:85px;')

        div(style='position:relative;display:inline;float:left;border:0px solid black;height:170px;width:49%;')
          .ganger_one_left
              img(src="http://localhost:8080/images/HomePage/home_0012_1_defi.png" )
          .ganger_one_right
              img(src="http://localhost:8080/images/HomePage/"+gift1 width="130px")
     
        div(style='position:relative;float:right;border:0px solid black;height:100%;width:49%;height:170px;')
          .ganger_two_left
              img(src="http://localhost:8080/images/HomePage/home_0013_2_defi.png")
          .ganger_two_right
              img(src="http://localhost:8080/images/HomePage/"+gift2 width="130px")


      div(style='position:relative;border:0px solid black;width:100%;height:60px;background-image:url("http://localhost:8080/images/HomePage/index_defi_footer.png");background-repeat:no-repeat;margin-top:10px;margin-bottom:10px;background-position:center;background-size:100%;')
       
    div.prochaindefi_index
      .prochaindefi-left_home
            div(style='position:relative; display:inline;min-height:120px;height:auto;text-align:center;')   
              img(src="http://localhost:8080/images/HomePage/home_0053_PUB.png" style="margin-top:60px;margin-left:170px;")              
      .prochaindefi-right_home   
            div(style='position:relative; display:inline;min-height:120px;height:auto;text-align:center;')   
              img(src="http://localhost:8080/images/HomePage/home_0053_PUB.png" style="margin-top:60px;margin-left:170px;") 
block append footer
        div.main_footer
            