extends Prolayout
  
block defiContent

 script.
      $(function() {
        var endDate = "May 09, 2014 17:40:25";
        $('.countdown.simple').countdown({ date: endDate });

        $('.countdown.styled').countdown({
          date: endDate,
          render: function(data) {
            $(this.el).html("<div>" + this.leadingZeros(data.min, 2) + "</div>");
          }
        });

        $('.countdown.callback').countdown({
          date: +(new Date) + 10000,
          render: function(data) {
            $(this.el).text(this.leadingZeros(data.sec, 2) + " sec");
          },
          onEnd: function() {
            $(this.el).addClass('ended');
          }
        }).on("click", function() {
          $(this).removeClass('ended').data('countdown').update(+(new Date) + 10000).start();
        });

      });

 div(style='text-align:center;font-weight:bold;')
  p Défi en cours 
 div(style='text-align:center;font-size:20px;margin-top:30px;')
  p Affichage de la Question
 div(style='text-align:center;margin-top:20px;')

   form(method="post" enctype="multipart/form-data" action="upload")
   
    input(type="file", name="file")
    br
    input(type='submit' name='btsubmit' value='« Bouton Envoyé »' style='background:none;border:none;box-shadow:none')


 div(style='text-align:center;width:296px;margin-left:450px;margin-top:50px;height:136px;border:1px solid black;')
  p(style='font-size:20px;color:red;') Le gagnant du 1er cadeau sera visible dans :
  div(style='text-align:center;' onload="startTime()")
   p 
    |« Compte à rebour de 
    span(style='display:inline-block;').countdown.styled
    |&nbsp;minutes »
 div(style='text-align:center;margin-top:10px;')
  p(style='font-size:24px;') Publicité du client faisant sa promo

block gift-left
 
  div(style='text-align:center;')
    p CADEAU OFFERT POUR CE CHALLENGE 
      br
      |1er CADEAU :
  div(style='text-align:center;')
 
     img(src="http://localhost:8080/images/HomePage/"+gift1) 
block gift-right
 
  div(style='text-align:center;')
    p CADEAU OFFERT POUR CE 
     br
     |CHALLENGE 
     br
     |2ème CADEAU :
  div(style='text-align:center;')
 
     img(src="http://localhost:8080/images/HomePage/"+gift2) 
 