.menu {
  
  position: absolute;
  z-index: 1000;
  border: 0px solid gray;
  margin-top: 188px;
  margin-left: 445px;   
}

ul
{
    list-style-type:none;
    margin:0;
    padding:0;
    margin-left: 20px;
}

li {
    display: inline;
    padding-right: 20px;
    text-decoration: none;
}

.titlehomepage
 {
      position: absolute;
      z-index: 1000;
      width: 655px;
      height: 68px;
      border: 0px solid gray;
      margin-top: 292px;
      margin-left: 167px;
      box-shadow: 2px 2px 5px 1px rgba(100, 100, 100, 0.5);
      border-radius: 5px;
}

.titlehomepage_index
 {
      position: absolute;
      z-index: 1000;
      width: 93%;
      height: 68px;
      border: 0px solid gray;
      margin-top: 292px;
      margin-left: 30px;
      box-shadow: 2px 2px 5px 1px rgba(100, 100, 100, 0.5);
      border-radius: 5px;
}
.titlehomepage_part1
 {
   
      border: 0px solid #808080;
      border-radius: 5px;
      box-shadow: 2px 2px 5px 1px rgba(100, 100, 100, 0.5);
      display: inline-block;
      height: 68px;
      margin-bottom: 15px;
      margin-left: 30px;
      margin-top: 30px;
      position: relative;
      width: 48%;
      z-index: 1000;
      margin-top: 295px;
}


.giftpic {
    margin-top: -28px;
}

.chellengizpic {
    margin-top: -69px;
    margin-left: 89px;
}
.encourpic {
    margin-top: -26px;
    margin-left: 296px;
}

.chellengizhomepage
 {
      position: relative;
      display: inline-block;
      z-index: 1000;
      width: 655px;
      min-height: 235px;
      height: auto;
      border: 0px solid gray;
      margin-top:376px;
      margin-bottom: 100px;
      margin-left: 167px;
      box-shadow: 2px 2px 5px 1px rgba(100, 100, 100, 0.5);
      border-radius: 5px;
}

.chellengizhomepage_index
 {
      position: relative;
      display: inline-block;
      z-index: 1000;
      width: 48.3%;
      min-height: 235px;
      height: auto;
      border: 0px solid gray;
      margin-top:376px;
      margin-bottom: 20px;
      margin-left: 30px;
      box-shadow: 2px 2px 5px 1px rgba(100, 100, 100, 0.5);
      border-radius: 5px;
}
.chellengizhomepage_index_second
 {
      position: relative;
      display: inline-block;
      z-index: 1000;
      width: 94%;
      min-height: 235px;
      height: auto;
      border: 0px solid gray;
      margin-top:376px;
      margin-bottom: 20px;
      margin-left: 30px;
      box-shadow: 2px 2px 5px 1px rgba(100, 100, 100, 0.5);
      border-radius: 5px;
}

.ganger_index
{
  position: relative;
  display: inline-block;
  z-index: 1000;
  width: 93%;
  min-height: 250px;
  height: auto;
  border: 0px solid gray;
  margin-top:0px;
  margin-bottom: 15px;
  margin-left: 30px;
  box-shadow: 2px 2px 5px 1px rgba(100, 100, 100, 0.5);
  border-radius: 5px;
}
.ganger_index_second
{
  position: relative;
  display: inline-block;
  z-index: 1000;
  width: 94%;
  min-height: 250px;
  height: auto;
  border: 0px solid gray;
  margin-top:0px;
  margin-bottom: 15px;
  margin-left: 30px;
  box-shadow: 2px 2px 5px 1px rgba(100, 100, 100, 0.5);
  border-radius: 5px;
}





.chellengizhomepage-left {
    width: 40%;
    float: left;
    height: auto;
    border: 0px solid gray;
}
.chellengizhomepage-right {
    width: 59%;
    height: auto;
    float: right;
    border: 0px solid gray;
}
.chellengizhomepage-left-a {
    border:0px solid green;
    float: left;
    margin-left: 20px;
}
.chellengizhomepage-left-content {
    position: relative;
    display: inline;
    border: 0px solid green;
    height: auto;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: right;
    margin-top:15px;
}


.chellengizhomepage-right-b {
    width: 20%;
    border: 0px solid green;
    float: left;
}
.chellengizhomepage-right-content {
    width: 70%;
    border: 0px solid green;
    height: auto;
    float: right;
    margin-bottom: 6px;
}




.prochaindefi
 {
    position: relative;
    display: table;
    z-index: 1000;
    width: 655px;
    min-height: 235px;
    height: auto;
    border: 0px solid gray;
  
    margin-bottom: 50px;
    margin-left: 167px;
     
}

.winnergagnant
 {
    border: 0 solid #808080;
    display: table;
    height: auto;
    margin-left: 20px;
    margin-top: 170px;
    min-height: 235px;
    position: relative;
    z-index: 1000;
    float: left;
    font-color:red;
     
}
.prochaindefi_index
{
  
    position: relative;
    display: table;
    z-index: 1000;
    width: 94%;
    min-height: 235px;
    height: auto;
    border: 0px solid gray;
    margin-bottom: 30px;
    margin-left: 30px;
}


.prochaindefi_index_second
 {
    position: relative;
    display: table;
    z-index: 1000;
    width: 94%;
    min-height: 235px;
    height: auto;
    border: 0px solid gray;
    margin-bottom: 30px;
    margin-left: 30px;
     
}
.prochaindefi_index_home
 {
    position: relative;
    display: inline-block;
    z-index: 1000;
    width:48%;
    min-height: 170px;
    height: auto;
    border: 0px solid gray;
    margin-bottom: 0px;
    margin-left: 30px;
     
}

.prochaindefi-left
 {
      position: relative;
      z-index: 1000;
      width: 313px;
      min-height: 150px;
      height: auto;
      border: 0px solid gray;
      box-shadow: 2px 2px 5px 1px rgba(100, 100, 100, 0.5);
      border-radius: 5px;
      float: left;
      background-size: 104%;
      background-color: #ffffff;
}

.prochaindefi-right
 {
      position: relative;
      z-index: 1000;
      width: 315px;
      min-height: 412px;
      height: auto;
      border: 0px solid gray;
      box-shadow: 2px 2px 5px 1px rgba(100, 100, 100, 0.5);
      border-radius: 5px;
      float: right;
      background-color: #ffffff;
      
}


.prochaindefi-left_index
 {
      position: relative;
      z-index: 1000;
      width: 100%;
      min-height: 150px;
      height: auto;
      border: 0px solid gray;
      box-shadow: 2px 2px 5px 1px rgba(100, 100, 100, 0.5);
      border-radius: 5px;
      float: left;
      background-size: 104%;
      background-color: #ffffff;
}
.prochaindefi-left_index_second
 {
    background-color: #FFFFFF;
    background-size: 104% auto;
    border: 0 solid #808080;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px rgba(100, 100, 100, 0.5);
    float: left;
    height: auto;
    min-height: 150px;
    position: relative;
    width: 49%;
    z-index: 1000;
}
.prochaindefi-right_index_second
 {
    background-color: #FFFFFF;
    border: 0 solid #808080;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px rgba(100, 100, 100, 0.5);
    float: right;
    height: auto;
   
    min-height: 151px;
    position: relative;
    width:50%;
    z-index: 1000;

      
}


.prochaindefi-left_home
 {
      position: relative;
      z-index: 1000;
      width: 370px;
      min-height: 150px;
      height: auto;
      border: 0px solid gray;
      box-shadow: 2px 2px 5px 1px rgba(100, 100, 100, 0.5);
      border-radius: 5px;
      float: left;
      background-size: 104%;
      background-color: #ffffff;
}

.prochaindefi-right_index
 {
      background-color: #FFFFFF;
      border: 0 solid #808080;
      border-radius: 5px;
      box-shadow: 2px 2px 5px 1px rgba(100, 100, 100, 0.5);

      float: right;
      height: auto;
      margin-right: 30px;
      margin-top: -87px;
      min-height: 239px;
      position: relative;
      width: 370px;
      z-index: 1000;

      
}
.prochaindefi-right_home
 {
      position: relative;
      z-index: 1000;
      width: 370px;
      min-height: 150px;
      height: auto;
      border: 0px solid gray;
      box-shadow: 2px 2px 5px 1px rgba(100, 100, 100, 0.5);
      border-radius: 5px;
      float: right;
      background-color: #ffffff;
      
}




.bientot {
    min-height: 560px;
    position: absolute;
    z-index: 1000;
    width: 215px;
   
    height: auto;
  
    float: left;
    margin-left: -255px;
    margin-top: -60px;
    background-image: url("http://localhost:8080/images/HomePage/home_0001_bientôt.png");
}

.proc_pic_head {
    margin-top: -83px;
    margin-left: -26px;
}
.prochain_text_head {
    margin-top: -43px;
    margin-left: 20px;
    text-align: center;
}
.count_time {
    height: 90px;
    border: 0px solid gray;
    text-align: center;
}
.gagner {
    height: 54px;
    background-color: #b83415;
    margin-top: 25px;
}
.gagner_one {
 
    height:auto;
}
.gagner_two {
  
    height: auto;
}

.ganger_one_left {
    width: 20%;
    float: left;
    border: 0px solid gray;
    height: auto;
}
.ganger_one_right {
     width: 70%;
    float: right;
    border: 0px solid gray;
    height: auto;
}

.ganger_two_left
{
    width: 20%;
    float: left;
    border: 0px solid gray;
    height: auto;
}
.ganger_two_right {
    width: 70%;
    float: right;
    border: 0px solid gray;
    height: auto;
}


.hour_bientot {
    margin-top: 98px;
    text-align: center;
   
    color: white;
}
.login_name {
    width: 180px;
    height: 23px;
    margin-bottom: 10px;
}
.login_pwd {
    width: 180px;
    height: 23px;
}

.reg_option {
    width: 229px;
    height: 29px;
}

